<div id="reg-app" class="reg-app">
  <div class="loading-overlay">
    <i class="fa-solid fa-spinner fa-3x fa-spin"></i>
  </div>
  <div data-w-id="719b178b-3b68-0edd-f2e0-0cde7127c5e5" class="reg-content">
    <div class="container">
      <div class="header">
        <div class="icon"><img src="images/SxS-Presents.png" loading="lazy" alt="" class="icon"></div>
      </div>
      <div class="w-layout-blockcontainer container-2 w-container">
        <section class="section">
          <div class="hero">
          </div>
        </section>
        <section class="section-2">
          <div class="form-block">
            <div class="form-wrapper">
              <div class="form-block-2 w-form">
                <form id="email-form" name="email-form" data-name="Email Form" method="get" class="w-clearfix"
                  data-wf-page-id="65427f0570190b72da7613d4" data-wf-element-id="86b74d7c-9ba5-564d-3f7e-a5d96b9edb40">
                  <input type="text" class="text-field input-field w-input" maxlength="256" name="full_name"
                    data-name="full_name" placeholder="Full Name" id="full_name">
                  <input type="email" class="text-field-2 input-field w-input" maxlength="256" name="email"
                    data-name="Email" placeholder="Email Address" id="email" required="">
                  <input type="tel" class="text-field-2 input-field w-input" maxlength="256" name="phone"
                    data-name="phone_number" placeholder="Phone Number" id="phone_number">
                  <input type="email" class="text-field-2 input-field w-input" maxlength="256" name="school"
                    data-name="school" placeholder="School Name" id="school" required="">
                  <input type="text" class="text-field-3 w-input" maxlength="256" name="city" data-name="city"
                    placeholder="City" id="city" required="">
                  <input type="text" class="text-field-3 w-input" maxlength="256" name="State" data-name="State"
                    placeholder="State" id="state" required="">
                  <input type="number" class="text-field-3 w-input" name="graduation_year" data-name="graduation_year"
                    placeholder="Graduation Year" id="graduation_year" required="" min="2024" max="2028">
                  <input type="text" class="text-field input-field w-input" maxlength="256" name="walk_in_music"
                    data-name="walk_in_music" placeholder="Walk in music" id="walk_in_music">
                </form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
            <div class="form-attempts">
              <h1 class="heading">Select your time slot</h1>
              <p class="paragraph">Select the time you would like to shoot</p>
            </div>
            <div class="time-wrapper">
              {{#each time_slots}}
              <label for='{{time_slot_id}}' class="time-slot">
                <input type="radio" id="{{time_slot_id}}" data-time="{{start_time}}" data-status="{{lower status}}"
                  data-available="{{available_spots}}" value="{{time_slot_id}}" name="time_slot" id="time-slot">
                <div class="time">
                  <span class="checked"><i class="fa-solid fa-circle-check"></i></span>
                  <div class="content">
                    <div class="status" data-status="{{lower status}}"></div>
                    <div class="time-span">{{HrFormat start_time}}</div>
                    <div class="time-openings">
                      <h2>
                        {{#if (gte available_spots 1)}}
                        {{available_spots}}
                        {{else}}
                        🔒
                        {{/if}}
                      </h2>
                      <small>
                        {{#if (gte available_spots 1)}}
                        Available
                        {{else}}
                        Closed
                        {{/if}}
                      </small>
                    </div>
                  </div>
                </div>
              </label>
              {{/each}}

            </div>
          </div>
        </section>
        <div class="footer">
          <div class="close-out">
            <button class="cta w-button" id="submit">Submit Form</button>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="116abc6a-9536-8f23-aea8-74cdd3ea8fef" class="bg-track">
      <div class="bg-camera">
        <div class="bg-target">
          <div class="bg-image" id="scene"><img src="images/bg.jpg" loading="lazyload"
              data-w-id="fe92b9e7-0d88-bc3c-9765-d714867680a2" sizes="100vw" alt=""
              srcset="images/bg-p-500.jpg 500w, images/bg-p-800.jpg 800w, images/bg-p-1080.jpg 1080w, images/bg.jpg 1440w"
              class="image lazyload"></div>
        </div>
      </div>
    </div>
  </div>
</div>